h2  Resultados de <br>aprendizaje
.brand-line-primary

.card.resultado-item
    .card-body
        h5 Cód. 210303001-04
        p.mb-0 Determinar los documentos necesarios para la constitución de una empresa, según su clasificación legal.