h2 Desarrollo de <br>contenidos
.brand-line-primary


.row.justify-content-center
    .col-12.col-sm-10

        .card.wow.flipInX(data-wow-delay=".2s")
            
            .card-body

                ul.list-group.list-group-flush.list.my-n3.nav-temas
                    +navTemaItem('play', 'Introducción', 'main.html#page/introduccion/')
                    +navTemaItem('1', 'La constitución de una empresa', 'main.html#page/construccion/')
                    +navTemaItem('2', 'Documentos de constitución persona jurídica', 'main.html#page/documentos/')
                    +navTemaItem('3', 'Reglas del registro mercantil', 'main.html#page/reglas/')
                    +navTemaItem('4', 'Matrícula por internet para personas natural y jurídica', 'main.html#page/matricula/')
                    +navTemaItem('5', 'Recomendaciones para formalizar una empresa', 'main.html#page/recomendaciones/')
                    +navTemaItem('question', 'Actividad didáctica', 'main.html#page/actividad-1/')