include ../mixins/functions

+pageHeader('Documentos para constitución de empresas', 'assets/images/header/header_media.svg')

.container#constitucion

    .header-ecored

        h1 1. La constitución de una empresa

    .row.mx-0

        .col-12

            p Para la constitución de una empresa se debe tener en cuenta la modalidad o figura que adquirirá. Si es persona natural o unipersonal. Dependiendo del análisis anterior se selecciona la documentación para poder constituirse legalmente cumpliendo con todos los trámites legales.

    .row.mx-0

        .col-12.text-center

            img(src="assets/images/pages/img1.svg", style="width: 30%")

br#tramites

.container

    .header-ecored

        h2 1.1 Documentos de constitución persona natural

    .row.mx-0

        .col-12

            p La persona natural comerciante se caracteriza por desarrollar actividades comerciales de manera habitual y profesional, pero a título personal. Es decir que es ella quien asume todos los derechos y obligaciones de las diversas actividades comerciales que ejecute.

            p Para la matrícula como persona natural se consultan los procedimientos en la Cámara de Comercio que esté más cercana a la empresa a registrar o de forma virtual ingresando en el enlace que esta institución haya establecido para tal propósito.

    .row.mx-0

        .col-12.text-center

            img(src="assets/images/pages/img2.svg", style="width: 100%")
    
    .row.mx-0

        .col-12

            ul
                li Documento original de identidad.
                li Formulario del registro único tributario (RUT).
                li Formularios disponibles en las sedes de la Cámara de Comercio.
                li Formulario registro único empresarial y social (RUES), servicio que ofrece la cámara de comercio a través de la web u oficinas presenciales.
                li Carátula única empresarial y anexos (persona natural).

br#unipersonal

.container

    .header-ecored

        h2 1.2 Documentos como persona unipersonal

    .row.mx-0

        .col-12

            p La empresa unipersonal o individual se caracteriza porque el propietario o dueño es una sola persona, es decir, que es la única que recibe las utilidades por operaciones derivadas de la actividad económica, lo cual es una ventaja. Pero en caso de pérdida, también debe responder hasta con su patrimonio.

            p Es una figura que se caracteriza por no tener socios cuando se hace el acta de constitución, debido a que el dueño es uno solo. Esta figura de empresas tiene la obligación de responder a terceros hasta con la totalidad de sus bienes.

    .row.mx-0

        .col-12.text-center

            img(src="assets/images/pages/img3.svg", style="width: 100%")

        .col-12

            ul
                li Pre-RUT
                li RUT
                li Los formularios de RUES
                li Cédula de ciudadanía como insumos para el procedimiento establecido