include ../mixins/functions

+pageHeader('Documentos para constitución de empresas', 'assets/images/header/header_media.svg')

.container#reglas

    .header-ecored

        h1 3. Reglas del registro mercantil

    .row.mx-0

        .col-12
    
            p Tanto para la persona natural como para la persona jurídica, el Código de Comercio de Colombia en su Artículo 29, establece unas reglas para llevar el registro mercantil (En colombia, s.f.):
    
    .row.mx-0

        .col-12

            .row(style="margin-bottom: 10px").justify-content-md-center

                .col-auto

                    img(src="assets/images/pages/img6.svg", style="width: 40%; margin-top: 6px").img-fluid.float-right

                .col-8

                    p.m-0
                        strong Los actos, contratos y documentos serán inscritos en la Cámara de Comercio con jurisdicción en el lugar donde se celebran u otorgan; si es por fuera de dicha jurisdicción, se inscribirán también en la cámara correspondiente al lugar de su ejecución o cumplimiento.

            .row(style="margin-bottom: 10px").justify-content-md-center

                .col-auto

                    img(src="assets/images/pages/img7.svg", style="width: 40%; margin-top: 6px").img-fluid.float-right

                .col-8

                    p.m-0
                        strong La matrícula de los comerciantes y las inscripciones no previstas en el ordinal anterior, se harán en la Cámara de Comercio con jurisdicción en el domicilio de la persona interesada o afectada con ellos.

            .row(style="margin-bottom: 10px").justify-content-md-center

                .col-auto

                    img(src="assets/images/pages/img8.svg", style="width: 40%; margin-top: 6px").img-fluid.float-right

                .col-8

                    p.m-0
                        strong La inscripción se hará en libros separados, según la materia, en forma de extracto que dé razón de lo sustancial del acto, documento o hecho que se inscriba, salvo que la ley o los interesados exijan la inserción del texto completo.

            .row(style="margin-bottom: 10px").justify-content-md-center

                .col-auto

                    img(src="assets/images/pages/img9.svg", style="width: 40%; margin-top: 6px").img-fluid.float-right

                .col-8

                    p.m-0
                        strong La inscripción podrá solicitarse en cualquier tiempo, si la ley no fija un término especial para ello; pero los actos y documentos sujetos a registro no producirán efectos respecto de terceros sino a partir de la fecha de su inscripción.

    br

    .row.mx-0

        .col-12.text-center

            img(src="assets/images/pages/img10.svg", style="width: 30%")

    br

    .row.mx-0

        .col-12
        
            .card

                .card-body(style="border-bottom: solid 2px #5F3BBF")

                    .card-text

                        p De otro lado, el certificado que expide la Cámara de Comercio de la ciudad, prueba que   se ha efectuado correctamente el registro mercantil. La matrícula debe ser solicitada  dentro del mes siguiente a la fecha en que la persona natural empieza a realizar la operación de las actividades comerciales.