include ../mixins/functions

+pageHeader('Documentos para constitución de empresas', 'assets/images/header/header_media.svg')

.container#matricula

    .header-ecored

        h1 4. Matrícula por internet para personas natural y jurídica

    .row.mx-0

        .col-12

            p A través del Portal Nacional de Creación de Empresas se ofrecen alternativas de realizar diversas consultas que permitan al emprendedor diligenciar formularios requeridos para el registro ante la Cámara de Comercio.

            p Dependiendo de la funcionalidad del portal de cada cámara de comercio de las ciudades, se puede realizar el registro por medio de diversos enlaces que conducen al empresario al diligenciamiento de la información pertinente. 
    
    .row.mx-0

        .col-12.text-center

            img(src="assets/images/pages/img11.svg", style="width: 30%")

    .row.mx-0

        .col-12.text-center

            img(src="assets/images/pages/img12.svg", style="width: 100%")

    br

    .row.mx-0

        .col-12

            ul
                li Renovación de matrícula. 
                li Registro único de proponentes (RUP).
                li Servicio de clave virtual.
                li Constitución virtual de una S.A.S. 
                li Solicitud de certificados. 
                li Certificados gratuitos en línea para afiliados. 
                li Renovación de afiliación en línea. 
                li Inscripción de libros electrónicos.