include ../mixins/functions

+pageHeader('Documentos para constitución de empresas', 'assets/images/header/header_media.svg')

.container#recomendaciones

    .row-12

        h1 5. Recomendaciones para formalizar una empresa

        .brand-line-primary

        p Para que el procedimiento y documentos cumplan con el objeto de legalizar una empresa, se deben de tener en cuenta recomendaciones específicas que se pueden aplicar a la hora de tomar la decisión de formalizar el negocio, algunas son las siguientes: 

        ul
            li Verificar la homonimia, que no exista otra empresa con esta denominación 
            li Realizar una lista de chequeo de los documentos que se requieren para constituir la empresa.
            li Solicitar la asesoría en la cámara de comercio acerca de las ventajas y desventajas de cada tipo de sociedad.
            li Verificar los documentos que acrediten el funcionamiento de la empresa
            li Verificar cada uno de los procedimientos a tramitar. 
            li Archivar recibos, consignaciones y demás evidencias de las actividades para la constitución de la empresa.

    br

    .row-12.text-center

        img(src="assets/images/pages/img13.svg", style="width: 30%")