include ../mixins/functions

+pageHeader('Procedimiento para constitución empresarial', 'assets/images/header/header_media.svg')

.container#introduccion

    .header-ecored

        h1 Introducción

    .row.mx-0
        
        .card

            .embed-responsive.embed-responsive-16by9
                iframe.embed-responsive-item(width='560', height='315', src='https://www.youtube.com/embed/f0Wf7kxbvPk', frameborder='0', allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')

            .card-body(style="border-bottom: solid 2px #5F3BBF")

                .card-text

                    p En Colombia se desarrollan muchas oportunidades de negocio que permiten a los emprendedores comercializar bienes y servicios con un alto grado de innovación. Pero surge la pregunta ¿son muchos los trámites y documentos a cumplir para legalizar la empresa? Para ello, en la actualidad las entidades encargadas de llevar a cabo los trámites para la formalización, cuentan con tecnologías que hacen más sencilla la experiencia del empresario.

                    br

                    p Después de tener una secuencia de actividades para formalizar la empresa, es determinante seleccionar cuáles son los documentos que se requieren para legalizarla para que el emprendedor pueda comercializar sus bienes y servicios sin tener inconvenientes de tipo jurídico, financiero y tributario.

                    br

                    p Por ello, en el siguiente material de formación se presentarán los documentos necesarios para la constitución de una empresa, según su clasificación legal, lo que posibilitará al aprendiz conocer cuáles son los requeridos para la legalización.