.container

    table.table.table-bordered.table-striped
        thead.thead-dark
            tr
                th Autor
                th Tipo de material
                th Enlace del recurso

        tbody

            tr
                td 
                    strong Cien preguntas y respuestas sobre la sociedad por acciones simplificadas (SAS)
                td Capítulo de manual
                td 
                    a(href="media/documentos/MC_AA4_Cien_preguntas_y_respuestas_sobre_la_sociedad_por_.pdf", target="_blank") <span class="fa fa-download" aria-hidden="true"></span> Descargar

            tr
                td 
                    strong Realidad actual para la constitución de una empresa en Colombia
                td Capítulo de manual
                td 
                    a(href="media/documentos/MC_AA4_Realidad_actual_para_la_constitucion_de_una_empresa_.pdf", target="_blank") <span class="fa fa-download" aria-hidden="true"></span> Descargar