.container

  ol

    li
      p 
        | Cámara de Comercio de Bogotá. (Sin fecha). 
        i Trámites y consultas. 
        | Recuperado de: 
        a(href="https://www.ccb.org.co/Tramites-y-Consultas", target="_blank") https://www.ccb.org.co/Tramites-y-Consultas
        
    li
      p 
        | Cámara de Comercio de Bogotá. (Sin fecha). 
        i Si usted está interesado en construir su empresa como persona jurídica. 
        | Recuperado de: 
        a(href="http://recursos.ccb.org.co/ccb/instructivos/paso_paso_empresa_ccb/consulta_be_juridica.html", target="_blank") http://recursos.ccb.org.co/ccb/instructivos/paso_paso_empresa_ccb/consulta_be_juridica.html

    li
      p 
        | Cámara de Comercio de Cali. (Sin fecha). 
        i Cómo crear empresa. 
        | Recuperado de: 
        a(href="https://www.ccc.org.co/tramites-de-registros-publicos/como-crear-empresa/sociedad-acciones-simplificada-2/", target="_blank") https://www.ccc.org.co/tramites-de-registros-publicos/como-crear-empresa/sociedad-acciones-simplificada-2/

    li
      p 
        | Cámara de Comercio de Cartagena. (Sin fecha). 
        i Constitución de empresas unipersonales.

    li
      p 
        | El empleo. (2001). 
        i Pasos para crear empresa en Colombia. 
        |  Recuperado de: 
        a(href="https://www.elempleo.com/co/noticias/noticias-laborales/pasos-para-crear-empresa-en-colombia-1673", target="_blank") https://www.elempleo.com/co/noticias/noticias-laborales/pasos-para-crear-empresa-en-colombia-1673

    li
      p 
        | Encolombia. (Sin fecha). 
        i Título III: Del Registro Mercantil. 
        | Recuperado de: 
        a(href="https://encolombia.com/derecho/codigos/comercio-colombiano/codcomerciolibro1-2/", target="_blank") https://encolombia.com/derecho/codigos/comercio-colombiano/codcomerciolibro1-2/

    li
      p 
        | Gerencie.com. (2017). 
        i Pasos o requisitos para crear sociedad comercial. 
        | Recuperado de: 
        a(href="https://www.gerencie.com/pasos-o-requisitos-para-crear-sociedad-comercial.html", target="_blank") https://www.gerencie.com/pasos-o-requisitos-para-crear-sociedad-comercial.html